Xft.antialias:          true
Xft.autohint:           0
Xft.dpi:                90
Xft.hinting:            1
Xft.hintstyle:          hintfull
Xft.lcdfilter:          lcddefault
Xft.rgba:               rgb

URxvt.cursorBlink:      true
URxvt.depth:            24
URxvt.font:             xft:Terminus:pixelsize=13:antialias=false
URxvt.internalBorder:   4
URxvt.loginShell:       true
URxvt.mapAlert:         true
URxvt.pointerBlank:     true
URxvt.resource:         value
URxvt.termName:         xterm-256color
URxvt.urgentOnBell:     true

URxvt.inheritPixmap:    true

URxvt.buffered:             true
URxvt.jumpScroll:           false
URxvt.saveLines:            0
URxvt.scrollBar:            false
URxvt.scrollTtyKeypress:    true
URxvt.scrollTtyOutput:      false
URxvt.scrollWithBuffer:     false
URxvt.secondaryScroll:      false

URxvt.foreground: #D7D0C7
URxvt.background: #151515
! Black
URxvt.color0:  #303030
URxvt.color8:  #404040
! Red
URxvt.color1:  #E84F4F
URxvt.color9:  #D23D3D
! Green
URxvt.color2:  #B8D68C
URxvt.color10: #A0CF5D
! Yellow
URxvt.color3:  #E1AA5D
URxvt.color11: #F39D21
! Blue
URxvt.color4:  #7DC1CF
URxvt.color12: #4E9FB1
! Magenta
URxvt.color5:  #9B64FB
URxvt.color13: #8542FF
! Cyan
URxvt.color6:  #6D878D
URxvt.color14: #42717B
! White
URxvt.color7:  #dddddd
URxvt.color15: #dddddd

URxvt.perl-ext:             default,matcher
URxvt.cutchars:             `"()'*<>[]{|}"
URxvt.matcher.pattern.1:    \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt.matcher.button:       1
URxvt.urlLauncher:          google-chrome

xscreensaver.splash: false

